<h1>Angular Training</h1>

<!-- @for -->
 <!-- <button (click)="onAdd()">Add</button>
 <ul>
    <li *ngFor="let course of courses">
        {{course.name}}
        @if (isEven) {
            <span>EVEN</span>
        }
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">Change</button>
    </li>
 </ul> -->

<!-- @switch -->
<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'Map'"><a (click)="viewMode = 'Map'">Map View</a></li>
    <li [class.active]="viewMode == 'List'"><a (click)="viewMode = 'List'">List View</a></li>
</ul>
<div>
    @switch (viewMode) {
        @case ("Map") {
            <div>Map View Content</div>
        }
        @case ("List") {
            <div>List View Content</div>
        }
        @default {
            <div>Otherwise</div>
        }
    }      
</div> -->
